
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 18vh;
    /* background-color: black; */
}

/* a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 25px;
}

a:hover{
    color: #ee3e38;
    transition: 0.4s ease-in-out all; 
} */

#logo{
    height: 8vh;
    width: auto;
}